body {
    margin: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 200px;
    /* border: 1px solid black; */
}

.buttons {
    display: flex;
}

.arithmetic-buttons {
    display: flex;
    flex-direction: column;
}